page-login {
    ion-input{
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 50%;
        margin: auto;
    }

    #button_login{
        text-align: center;
    }

    form{
        margin-top: inherit;
    }
}
