page-tabs {
    .tab-button {
        background-color: #00CCFF; 
      }
      
      .toolbar-background-md {
          background: #00CCFF;
      }
      
      .toolbar-title-md {
          color: #FFFFFF;
      }
      
      .tab-button-text{
          color: #FFFFFF;
      }
      
      .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
          color: #000000;
      }
      
      .tabs-md .tab-button-icon{
        color: #FFFFFF;
      }
}
