<ion-header>

  <ion-navbar>
    <ion-title>Event</ion-title>

    <ion-buttons end class="addIcon" (click)="addEvent()">
      <button ion-button icon-only color="royal">
        <ion-icon item-right name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  List of Events
  <div *ngIf="events">
    <ion-list *ngFor="let event of events">
      {{event.eventName}}
    </ion-list>
  </div>


  <ion-buttons>
    <button ion-button (click)="back()">Back</button>
  </ion-buttons>
</ion-content>
