page-home {
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  button{
    float: right;
  }

  .input{
    padding: 10px;
    font-size: 2em;
  }
  .text-input{
    margin: 0px;
  }

  ion-icon{
    font-size: 3em;
    margin-top: 5px;
  }
}

