<ion-header>

  <ion-navbar>
    <ion-title>Add Event</ion-title>
    <ion-buttons end class="cross" (click)="dismiss()">
      <button ion-button icon-only color="royal">
        <ion-icon item-right name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Event Name</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" [(ngModel)]="eventName" name="eventName" value="test Value"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Start</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="date" [(ngModel)]="start" name="startDate"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Finish</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="date" [(ngModel)]="finish" name="finishDate"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Sunday.status" name="sunday"></ion-checkbox>
            <ion-label>Sunday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Sunday.status" [(ngModel)]="Sunday.startTime" name="SundaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Sunday.status" [(ngModel)]="Sunday.finishTime" name="SundayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Monday.status" name="monday"></ion-checkbox>
            <ion-label>Monday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Monday.status" [(ngModel)]="Monday.startTime" name="MondaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Monday.status" [(ngModel)]="Monday.finishTime" name="MondayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Tuesday.status" name="tuesday"></ion-checkbox>
            <ion-label>Tuesday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Tuesday.status" [(ngModel)]="Tuesday.startTime" name="TuesdaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Tuesday.status" [(ngModel)]="Tuesday.finishTime" name="TuesdayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Wednesday.status" name="wednesday"></ion-checkbox>
            <ion-label>Wednesday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Wednesday.status" [(ngModel)]="Wednesday.startTime" name="WednesdaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Wednesday.status" [(ngModel)]="Wednesday.finishTime" name="WednesdayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Thursday.status" name="thursday"></ion-checkbox>
            <ion-label>Thursday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Thursday.status" [(ngModel)]="Thursday.startTime" name="ThursdaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Thursday.status" [(ngModel)]="Thursday.finishTime" name="ThursdayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Friday.status" name="friday"></ion-checkbox>
            <ion-label>Friday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Friday.status" [(ngModel)]="Friday.startTime" name="FridaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Friday.status" [(ngModel)]="Friday.finishTime" name="FridayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox [(ngModel)]="Saturday.status" name="saturday"></ion-checkbox>
            <ion-label>Saturday</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Saturday.status" [(ngModel)]="Saturday.startTime" name="SaturdaystartTime"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="h:mm A" *ngIf="Saturday.status" [(ngModel)]="Saturday.finishTime" name="SaturdayfinishTime"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <button ion-button type="submit">Submit</button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>