page-face-detail {
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    // margin: 13px 8px;
    padding: 5px;
    font-size: 1em;
    margin-top: 10px;
  }
  .text-input {
    margin: 0px;
  }
  ion-label {
    margin: 2px;
  }
  
  .swiper-slide {
    align-items: normal;
    overflow-y: scroll;
  }
  ion-label {
    display: flex;
  }
}

