page-detail {
  ion-content {
    margin-top: 10%;
  } 
  ion-icon {
    font-size: 30px;
  }
  #adult-block,
  #kid-block {
    display: block;
  }

  #kid-block {
    margin-top: 10%;
  }
  ion-label {
    font-size: 2em;
    // width: 200px;
  }
  // .cameraButton {
  //   float: left;
  //   height: 3em;
  //   width: 50%;
  //   font-size: 5em;
  //   // top: 10%;
  //   left: 10%;
  // }
  .content {
    text-align: center;
    // float: right;
  }
}

