page-checkin {
  ion-content {
    margin-top: 10%;
  }
  ion-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    left: 30%;
    font-size: 2em;
  }
  #adult-block,
  #kid-block {
    display: inline-flex;
  }
  #content {
    text-align: center;
    float: right;
  }
  ion-label {
    font-size: 2em;
  }
  .nextButton {
    float: left;
    height: 3em;
    font-size: 2em;
    top: 35%;
  }
  .icon {
    font-size: 4rem;
  }
}

