page-checkin {

    ion-input{
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 20%;
        left: 40%;
    }

    ion-icon {
        font-size: 30px;
    }

    #adult-block, #kid-block{
        display: inline-flex;
    }

    #content {
        text-align: center;
    }
}

